@use '/src/styles/style' as *;

.car-service {
	background-color: $white-color;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;

	.car-service__title {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		font-size: 18px;
		font-weight: 600;
		align-items: center;
	}

	.arrow {
		width: 25px;
		height: 25px;
		transition: transform 0.3s;
	}

	.arrow.open {
		transform: rotate(180deg);
	}

	.car-service__list {
		margin-top: 20px;
		padding-left: 0;
		list-style-type: none;

		.car-service__item {
			border-bottom: 1px solid #ddd;
			cursor: pointer;
			transition: background-color 0.3s;
			padding-bottom: 10px;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		.car-service__item:last-child {
			border-bottom: none;
		}

		.car-service__item strong {
			font-weight: 500;
			font-size: 15px;
		}

		.car-service__item p {
			font-weight: 400;
			font-size: 14px;
			margin-top: 10px;
		}

		.car-service__item.selected {
			color: $orange-color;
			border-bottom: 1px solid $orange-color;
		}
	}
}
