@use '/src/styles/style' as *;

.applications__container {
	.applications__title {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 3rem;
		margin-top: 40px;
	}
	.applications__tabs {
		display: flex;
		gap: 1.5rem;
		margin-top: 20px;

		.applications__tab-button {
			font-size: 18px;
			color: $color-text-secondary;
			font-weight: 600;
			background: none;
			transition: 0.1s;
		}

		.applications__tab-button.active {
			color: $orange-color;
			position: relative;
			&::after {
				position: absolute;
				content: '';
				bottom: -8px;
				display: block;
				height: 1.2px;
				background: $orange-color;
				left: 50%;
				transform: translate(-50%);
				width: 100%;
			}
		}
	}
	.requests__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		margin-top: 30px;

		.applications__no-applications {
			font-size: 18px;
			font-weight: 500;
		}
	}
}
