@use '/src/styles/style' as *;

.overlay__profile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(43, 43, 43, 0.4);
	display: flex;
	justify-content: flex-end;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
	z-index: 1000;

	.profile-menu {
		width: 300px;
		height: 100%;
		background-color: $white-color;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.profile-menu__content {
		padding: 20px;
		height: calc((var(--vh, 1vh) * 100) - 0px);
		display: flex;
		flex-direction: column;
		row-gap: 35px;

		.profile-menu__top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.profile-menu__name {
				display: flex;
				align-items: center;
				gap: 5px;

				span {
					font-size: 25px;
					font-weight: 600;
					line-height: 36px;
				}

				img {
					width: 20px;
					height: 20px;
				}
			}
		}

		.profile-menu__list {
			display: flex;
			flex-direction: column;
			gap: 24px;
			height: calc(100% - 58px);
		}
	}

	.profile-menu__close {
		height: 20px;
		svg {
			cursor: pointer;
			transition: 0.1s;
			&:hover {
				fill: $orange-color;
			}
		}
	}

	.profile-menu__exit {
		padding: 14px;
		border: none;
		border-radius: 0.5rem;
		background-color: $orange-color;
		color: $white-color;
		cursor: pointer;
		font-weight: 600;
		font-size: 15px;
		transition: 0.2s;

		&:hover {
			background-color: #ffa442cc;
		}
	}
}

.overlay__profile-menu.open {
	opacity: 1;
	pointer-events: auto;
}

.overlay__profile-menu.open .profile-menu {
	transform: translateX(0);
}
